<div class="main-wrapper">
    <div class="header"></div>
    <div class="game-wrapper">
        <div class="game">
            <div class="{{gameCtrl.playerClass(0)}}" style="{{gameCtrl.playerPositionStyle(0)}}"
                 ng-if="gameCtrl.model.players"></div>
            <table class="game-table">
                <tbody>
                <tr ng-repeat="i in gameCtrl.rangeTo(gameCtrl.model.fieldHeight)">
                    <td ng-repeat="j in gameCtrl.rangeTo(gameCtrl.model.fieldWidth)"
                        class="gameCtrl.fieldClass(i,j)">
                        <div ng-class="gameCtrl.fieldClass(i,j)"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
