<div class="main-wrapper">
    <div class="header"></div>
    <div class="game-wrapper">
        <div style="color: dimgrey">
            <p style="vertical-align: middle">
                <span><b>GameID:</b> {{gameCtrl.model.gameId}} </span>
                <i class="material-icons copy-icon" ng-click="gameCtrl.copyGameId()">content_copy</i>
            </p>
            <p><b>Connected players:</b> {{gameCtrl.model.humanPlayers}}</p>
        </div>

        <div class="bomb-indicator" style="{{gameCtrl.bombIndicatorWidthStyle()}}">
        </div>

        <div class="game">
            <div class="{{gameCtrl.playerClass(0)}}" style="{{gameCtrl.playerPositionStyle(0)}}"
                 ng-if="gameCtrl.model.players"></div>
            <div class="{{gameCtrl.playerClass(1)}}" style="{{gameCtrl.playerPositionStyle(1)}}"
                 ng-if="gameCtrl.model.players"></div>
            <div class="{{gameCtrl.playerClass(2)}}" style="{{gameCtrl.playerPositionStyle(2)}}"
                 ng-if="gameCtrl.model.players"></div>
            <div class="{{gameCtrl.playerClass(3)}}" style="{{gameCtrl.playerPositionStyle(3)}}"
                 ng-if="gameCtrl.model.players"></div>
            <table class="game-table">
                <tbody>
                <tr ng-repeat="i in gameCtrl.rangeTo(gameCtrl.model.fieldHeight)">
                    <td ng-repeat="j in gameCtrl.rangeTo(gameCtrl.model.fieldWidth)"
                        class="gameCtrl.fieldClass(i,j)">
                        <div ng-class="gameCtrl.fieldClass(i,j)"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
