<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<div class="main-wrapper">
    <div class="header"></div>
    <div class="text-wrapper">
        <div class="callout callout-info">
            <h4>Welcome to Bomberman application developed by Yevgen Kravchenko for <a
                    href="http://uawebchallenge.com/" target="_blank">UA
                Web Challenge</a></h4>
        </div>

        <div class="callout callout-error" ng-if="mainCtrl.error">
            <p>{{mainCtrl.error}}</p>
        </div>
    </div>

    <div class="button-block">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="mainCtrl.startGame()">START GAME</button>
    </div>
</div>