<div class="main-wrapper">
    <div class="header"></div>
    <div class="text-wrapper">
        <div class="callout callout-info">
            <h1>Game over</h1>
            <h4>I didnt know you are that good in Bomberman. Try one more time to set world best record</h4>
        </div>

        <div class="callout callout-error" ng-if="gameOverCtrl.error">
            <p>{{gameOverCtrl.error}}</p>
        </div>
    </div>

    <div class="button-block">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="gameOverCtrl.startGame()">RETRY</button>
    </div>

    <div class="button-block">
        <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="GAME ID" ng-model="gameOverCtrl.gameId">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="button" ng-click="gameOverCtrl.connect(gameOverCtrl.gameId)">
                    CONNECT
                </button>
            </span>
        </div>
    </div>
</div>
