.header {
    width: 459px;
    height: 118px;
    background-image: url("./img/logo.png");
    margin: auto;
}

.game-wrapper {
    padding-top: 20px;
    padding-left: 20px;
}

.game {
    position: relative;
}

.game-table {
    background: url("./img/empty.png") repeat;
}

.item {
    width: 32px;
    height: 32px;
}

.block {
    background-image: url("./img/block.png");
}

.stone {
    background-image: url("./img/stone.png");
}

.empty {
    background-image: url("./img/empty.png");
}

.bomb_cold {
    background-image: url("./img/bomb_cold.png");
}

.bomb_warm {
    background-image: url("./img/bomb_warm.png");
}

.bomb_hot {
    background-image: url("./img/bomb_hot.png");
}

.bomb_explosion {
    background-image: url("./img/bomb_explosion.png");
}

.player1 {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url("./img/player1.png");
    z-index: 2;
}

.player2 {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url("./img/player2.png");
    z-index: 2;
}

.player3 {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url("./img/player3.png");
    z-index: 2;
}

.player4 {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url("./img/player4.png");
    z-index: 2;
}

.grave {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url("./img/grave.png");
    z-index: 1;
}

.main-wrapper {
    width: 459px;
    margin: auto;
    position: fixed;
    padding-top: 50px;
    left: 50%;
    transform: translate(-50%);

}

.text-wrapper {
    color: dimgrey;
    text-align: center;
    padding-top: 50px;
}

.button-block {
    padding-top: 50px;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.callout-info {
    border-left-color: #1b809e;
}

.callout-error {
    border-left-color: #FF0000;
    color: #FF0000;
}

.bomb-indicator {
    max-width: 320px;
    height: 32px;
    background: url("./img/bomb_indicator.png") repeat-x;
}